*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: color 0.4s ease;
}

:root{
    --black:black;
    --white:white;
    --font: "DM Sans", sans-serif;
    --primary_color: #003061;
    --secondary_color: #3AA9E9;
    --title_and_font_color: #828284;
    --grey_font_color: #9F9F9F;
    --main_background: #F3F5FC;
    --border1: #EAEEFF;
    

    --banner_bg: var(--main_background);
    --line_height: 1.225rem;
    --heading_weight: 700;
    
    /* section */
    --container_width: 1140px;
    --section_padding: 12.5rem 18.75rem ;
    --section_width: 1140px ;
    --section_padding_block: 9.375rem;
    
    
    /* paragraph and text */
    
    --title_font_size: 1.0625rem;
    --paragraph_size: 1rem;
    --paragraph_line_height: 160%;
    --paragraph_letter_spacing: -3%;
    --paragraph_weight:500;
    /* buttons */
    
    --button_font: var(--title_font_size);
    --button_padding: 1.25rem 1.875rem 1.25rem 1.875rem;
    --button_border_radius: 5.21rem;
    --button_line_height: 100%;
    --button_letter_spacing: -3%;
    --button_weight: 500;
    --button_bg: #050509;
    --button_color: var(--white);
    
    /* navbar */
    --nav_bg: var(--main_background);
    --nav_hover_color: var(--secondary_color);
    --nav_color: var(--grey_font_color);
    --nav_font_size: var(--title_font_size);
    --nav_font_weight: 500;

    /* card border color */
    --card_border_color: #EAEEFF; 
}
html,body{
    scroll-behavior: smooth;
}

body{
    font-family: var(--font);
}

h1,h2{
    line-height: var(--line_height);
    letter-spacing: 0%;
    font-weight: var(--heading_weight);
    font-size: 3.5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
    letter-spacing: -2%;
    line-height: var(--line_height);
}
.d-grid{
    display: grid;
}


.d-flex{
    display: flex;
}


.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}

.grid-center{
    place-content: center;
}
/* images */
img{
    max-width: 100%;
    height: auto;
}
.object-fit-cover{
    object-fit: cover;
}
.object-fit-contain{
    object-fit: contain;
}

.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.vh{
    height: 100vh;
}

.button,button{
    font-size: var(--button_font);
    line-height:var(--button_line_height);
    border-radius: var(--button_border_radius);
    letter-spacing: var(--button_letter_spacing);
    padding: var(--button_padding);
    background-color: var(--button_bg);
    font-weight: var(--button_font);
    color: var(--button_color);
    display: inline-block;
    cursor: pointer;
}
.button a,button{
    color: var(--white);
    text-decoration: none;
}

.container{
    width: var(--container_width);
    margin-inline: auto;
    /* padding-block: var(--section_padding_block); */
}


.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}


/* gap */
.gap1{
    gap: .25rem;
}
.gap2{
    gap: .5rem;
}
.gap3{
    gap: .75rem;
}
.gap4{
    gap: 1rem;
}
.gap5{
    gap: 1.25rem;
}
.gap6{
    gap: 1.5rem;
}
.gap7{
    gap: 1.75rem;
}
.gap8{
    gap: 2rem;
}
.gap9{
    gap: 2.25rem;
}
.gap10{
    gap: 2.5rem;
}
/* colors */
.text-blue{
    color: var(--secondary_color);
}
/* paragraph */
p{
    font-size: var(--paragraph_size);
    font-weight: var(--paragraph_weight);
    line-height: var(--paragraph_line_height);
    letter-spacing: var(--paragraph_letter_spacing);
}

/* --------------------header section------------------- */

.header_navbar a:not(.button):where(:hover, :focus, :active){
    color: var(--secondary_color);
}

a{
    text-decoration: none;
    font-size: var(--title_font_size);
    font-weight: var(--nav_font_weight);
    letter-spacing: var(--paragraph_letter_spacing);
    line-height: var(--paragraph_line_height);
}

header a{
    font-size: var(--title_font_size);
    color: var(--nav_color); 
    text-decoration: none;
}

header,.banner_section,.testimonial_section{
    background-color: var(--main_background);
}



.header {
    background-color: var(--nav_bg);
    padding-block: 2.5rem ;
}
/* 
Sticky header */
.header {
    position: sticky;
    top: 0;
    z-index: 999;
}

/* ====================footer section=================== */
footer{
    /* padding-block: var(--section_padding_block); */
    background-color: var(--primary_color);
}

.footer_contact_us_section ,.footer_section_heading{
    color: var(--white);
}
.footer_top_section .container{
    --columns: 4;
    grid-template-columns: repeat(var(--columns),minmax(13.75rem,1fr));
    justify-content: space-between;
    justify-items: center;
    padding-block: 4.375rem 3.125rem;
}
.footer_lower_section .container{
    justify-content: space-between;
    border-top: 1px solid var(--border1);
    padding-block: 1.875rem 2.1875rem;
}
footer .container a,address,p,.footer_lower_section{
    color: var(--title_and_font_color);
}
footer .container .footer_work_hour_section i{
    color:var(--secondary_color);
    display: inline;
}
footer .container .footer_work_hour_section p,.footer_work_hour_section address{
    display: inline;
}
