*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: color 0.4s ease;
}

:root{
    --black:black;
    --white:white;
    --font: "DM Sans", sans-serif;
    --primary_color: #003061;
    --secondary_color: #3AA9E9;
    --title_and_font_color: #828284;
    --grey_font_color: #9F9F9F;
    --main_background: #F3F5FC;
    --border1: #EAEEFF;
    --border2: #D0DBFF;
    

    --banner_bg: var(--main_background);
    --line_height: 120%;
    --heading_weight: 700;
    
    /* section */
    --container_width: 1140px;
    --section_padding: 12.5rem 18.75rem ;
    --section_width: 1140px ;
    --container_padding_block: 9.375rem;
    
    
    /* paragraph */
    
    --paragraph_size: 1rem;
    --paragraph_line_height: 160%;
    --paragraph_letter_spacing: -3%;
    --paragraph_weight:500;
    
    /* title */
    --title_font_size: 1.0625rem;
    --title_line_height: 120%;
    --title_letter_space: 15%;
    --title_font_weight: 500;

    /* sub title */
    --sub_title_font_size: 1.5rem;
    --sub_title_line_height: 120%;
    --sub_title_letter_space: 0%;
    --sub_title_font_weight: 700;


    /* buttons */
    
    --button_font: var(--title_font_size);
    --button_padding: 1.25rem 1.875rem 1.25rem 1.875rem;
    --button_border_radius: 5.21rem;
    --button_line_height: 100%;
    --button_letter_spacing: -3%;
    --button_weight: 500;
    --button_bg: #050509;
    --button_color: var(--white);
    
    /* navbar */
    --nav_bg: var(--main_background);
    --nav_hover_color: var(--secondary_color);
    --nav_color: var(--grey_font_color);
    --nav_font_size: var(--title_font_size);
    --nav_font_weight: 500;

    /* card border color */
    --card_border_color: #EAEEFF; 
    --border_box: -0.0625rem 0.0625rem 6rem rgba(128, 128, 128, 0.822);
}
html,body{
    scroll-behavior: smooth;
}

body{
    font-family: var(--font);
}

h1,h2{
    line-height: var(--line_height);
    letter-spacing: 0%;
    font-weight: var(--heading_weight);
    font-size: 3.5rem;
}
.h1,.h2{
    line-height: var(--line_height);
    letter-spacing: 0%;
    font-weight: var(--heading_weight);
    font-size: 3.5rem;
}
h2{
    font-size: 3rem;
}
.h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
    letter-spacing: -2%;
    line-height: var(--line_height);
}
.h3{
    font-size: 2rem;
    letter-spacing: -2%;
    line-height: var(--line_height);
}
.d-grid{
    display: grid;
}


.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}


.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center{
    align-items: center;
}
.align-content{
    align-content: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}

.grid-center{
    place-content: center;
}
.inline{
    display: inline;
}
.block{
    display: block;
}
.inline-block{
    display: inline-block;
}
/* images */
img{
    max-width: 100%;
    height: auto;
}
.object-fit-cover{
    object-fit: cover;
}
.object-fit-contain{
    object-fit: contain;
}

.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.vh{
    height: 100vh;
}

.button,button{
    font-size: var(--button_font);
    line-height:var(--button_line_height);
    border-radius: var(--button_border_radius);
    letter-spacing: var(--button_letter_spacing);
    padding: var(--button_padding);
    background-color: var(--button_bg);
    font-weight: var(--button_font);
    color: var(--button_color);
    display: inline-block;
    cursor: pointer;
}
.button a,button{
    color: var(--white);
    text-decoration: none;
}

.container{
    width: var(--container_width);
    margin-inline: auto;
    /* padding-block: var(--section_padding_block); */
}


.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}

/* round img */
.round-img{
    aspect-ratio: 1/1;
    border-radius: 50%;
}
/* color classes*/
.primary-color{
    color: var(--primary_color);
}
.secondary-color{
    color: var(--secondary_color);
}
.grey-color{
    color: var(--grey_font_color);
}
.white-color{
    color: var(--white);
}


/* gap */
.gap1{
    gap: .25rem;
}
.gap2{
    gap: .5rem;
}
.gap3{
    gap: .75rem;
}
.gap4{
    gap: 1rem;
}
.gap5{
    gap: 1.25rem;
}
.gap6{
    gap: 1.5rem;
}
.gap7{
    gap: 1.75rem;
}
.gap8{
    gap: 2rem;
}
.gap9{
    gap: 2.25rem;
}
.gap10{
    gap: 2.5rem;
}
.gapx{
    column-gap: 3.125rem;
}

/* paragraph */
p{
    font-size: var(--paragraph_size);
    font-weight: var(--paragraph_weight);
    line-height: var(--paragraph_line_height);
    letter-spacing: var(--paragraph_letter_spacing);
}
/* title */
.title{
    font-size: var(--title_font_size);
    font-weight: var(--title_font_weight);
    line-height: var(--title_line_height);
    text-transform: uppercase;
    letter-spacing: var(--title_letter_space);
}
.sub-title{
    line-height: var(--sub_title_line_height);
    font-size: var(--sub_title_font_size);
    font-weight: var(--sub_title_font_weight);
    letter-spacing: var(--sub_title_line_height);
}
.thunderbold-card{
    padding-block: 2.875rem;
    padding-inline: 2.5rem;
    border-radius: 5px;
}

/* --------------------header section------------------- */

.header_navbar a:not(.button):where(:hover, :focus, :active){
    color: var(--secondary_color);
}

a{
    text-decoration: none;
    font-size: var(--title_font_size);
    font-weight: var(--nav_font_weight);
    letter-spacing: var(--paragraph_letter_spacing);
    line-height: var(--paragraph_line_height);
}

header a{
    font-size: var(--title_font_size);
    color: var(--nav_color); 
    text-decoration: none;
}

header,.banner_section,.testimonial_section{
    background-color: var(--main_background);
}

.header {
    background-color: var(--nav_bg);
    padding-block: 2.5rem ;
}
/* 
Sticky header */
.header {
    position: sticky;
    top: 0;
    z-index: 999;
}

/* ====================footer section=================== */
footer{
    /* padding-block: var(--section_padding_block); */
    background-color: var(--primary_color);
}

.footer_contact_us_section ,.footer_section_heading{
    color: var(--white);
}
.footer_contact_us_section :where(img,p){
    padding-bottom: 1.25rem;
}
.footer_top_section .container{
    --columns: 4;
    grid-template-columns: repeat(var(--columns),minmax(13.75rem,1fr));
    justify-content: space-between;
    justify-items: center;
    padding-block: 4.375rem 3.125rem;
}
.footer_lower_section .container{
    justify-content: space-between;
    border-top: 1px solid var(--border1);
    padding-block: 1.875rem 2.1875rem;
}
footer .container a,address,p,.footer_lower_section{
    color: var(--title_and_font_color);
}
footer .container .footer_work_hour_section i{
    color:var(--secondary_color);
    display: inline;
}
footer .container .footer_work_hour_section p,.footer_work_hour_section address{
    display: inline;
}
footer .footer_contact_us_section a{
    color: var(--border2);
}
/* .footer_work_hour_section p:not(.footer_section_heading){
    margin-left: px;

} */

/* ===============hero section============ */
.banner_section .container{
    --columns: 2;
    grid-template-columns: repeat(var(--columns),1fr);

}

.customer_rating_container{
    width: 20.625rem;
    height: 5rem;
    border-radius: .25rem 3.125rem 3.125rem .25rem;
    padding-block: .625rem;
    padding-inline: 1.875rem;
    align-content: center;
    background-color: var(--white);
    box-shadow: var(--border_box);
    font-size: 0.875rem;
    font-weight: var(--paragraph_weight);
}
.customer_rating_text::after  {
    content: '“';
}
.customer_rating_text::before{
    content: '”';
}
.banner_section .container{
    padding-top: 6.25rem;
    padding-bottom: 8.75rem;
}

.banner_section_left :where(div,p):not(.button){
    margin-bottom: 1.5rem;
}
.banner_section .align-center{
    column-gap: 3.125rem;
}

.banner_section_heading p{
    display: inline;
}
.banner_section_left .help-play-video{
    margin-top: 9.6875rem;
}

.banner_section_right> img{
    border-radius: 0.625rem;
}
.banner_section_right{
    grid-template-columns: repeat(2,1fr);
    column-gap: 1.875rem;
}
.growth_rate{
    display: grid;
    align-content: start;
    justify-content: right;
}
.banner_section .customer_rating_container{
    bottom: 2.5rem;
    right: 12.875rem;
    column-gap: .5rem;
}
.banner_section .background-image{
    background-color: var(--secondary_color);
    border-radius: .625rem .625rem 0rem 0rem ;
    height: 15rem;
    /* overflow: hidden; */
}
.banner_section .growth_rate> :where(img,div){
    width: 11.5625rem;
}
.banner_section .top_banner_img_3{
    width: 20rem;
    height: 34.625rem;
}
.growth_rate .background-image img{

    height: 100%;
    width: 100%;  
    /* top: -5.11rem; */
    /* left: -8.84rem; */
    transform: rotate(-5.77deg);
    object-position: center;
    /* z-index: 1; */
}


/* ============fun facts=========== */
.fun_facts{
    background-color: var(--primary_color);
}
.fun_facts .container{
    padding-block: 6.25rem;
}
.fun_facts .divider{
    width: .0625rem;
    height: 2.5rem;
    background-color: var(--border1);
}
/* @media(max-width: 600px){
  .fact_wrapper_rows{
    flex-wrap: wrap;
    justify-content: center;
}
.divider{
  display: none; 
}

.fact_container{
  min-width: 120px;
  margin: 10px;
}
} */

/* ==============about us============= */
.about_us .container{
    padding-block: 7.5rem;
    
}
.about_us .container .container_top{
    --columns:2;
    grid-template-columns: repeat(var(--columns),1fr) ;
    column-gap: 6.5rem;
    margin-bottom: 6.875rem;
}

.about_us_left{
    /* grid-template-columns: repeat(2,1fr); */
    gap: 1.25rem;  
    
}
.about_us_left .img1{
    grid-column: 1/2;
    grid-row: 1/3;
}
.about_us_left .img2{
    grid-column: 2/3;
    grid-row: 1/2;
}
.about_us_left .img3{
    grid-column: 2/3;
    grid-row: 2/3;
}
.about_us :where(.title .sub-title){
    margin-bottom: .875rem;
}
.about_us .about_us_title{
    margin-bottom: 2.5rem;
}
.about_us .button{
    margin-top: 1.25rem;
}

/* ============our services============= */
.our_services_section{
    padding-block: 5.625rem 7.5rem;
}
.our_services_insurance_category{
    --columns:2;
    grid-template-columns: repeat(var(--columns),1fr);
}
.insurance_category_container{
    background-color: var(--main_background);
}
.blue_icon_container{
    background-color: var(--primary_color);
}




