*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --black:black;
    --white:white;
    --font: "DM Sans", sans-sarif;
    --primary_color: #003061;
    --secondary_color: #3AA9E9;
    --button_bg: #050509;
    --title_and_font_color: #828284;
    --grey_font_color: #9F9F9F;
    --container_width: 1140px;

    --button_padding: 1.25rem 1.875rem 1.25rem 1.875rem;
    --button-border-radius: 5.21rem;
    --banner_bg: #F3F5FC;
    --nav_bg: #F3F5FC;
    --line_hight: 1.225rem;
    --heading_weight: 700;

    --section_padding: 12.5rem 18.75rem ;
    --section_width: 1140px ;
    
    --title_font_size: 1.0625rem;
    
    --paragraph_size: 1rem;
    --paragraph_line_height: 160%;
    --paragraph_letter_spacing: -3%;


    --nav_hover_color: var(--secondary_color);
    --nav_color: var(--grey_font_color);
    --nav_font_size: var(--title_font_size);
}
body{
    font-family: var(--font);
}

h1,h2{
    line-height: var(--line_hight);
    letter-spacing: 0%;
    font-weight: var(--heading_weight);
    font-size: 3.5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
    letter-spacing: -2%;
    line-height: var(--line_hight);
}
.d-grid{
    display: grid;
}


.d-flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.grid-center{
    place-content: center;
}

